* {
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #00aeffad;
  font-family: arial, arial, helvetica;
}

div {
  height: 70px;
  width: 70px;
  display: flex;
  /* margin: 50px; */
  flex-direction: row;
  justify-content: center;
}

h2 {
  margin: 0px 30px 0;
  
}

input {
  height: 30px;
}

#resultado {
  font-size: 50px;

}